#textdomain wesnoth-A_Song_of_the_Winds

{OVERLAY_RANDOM          *^Ns                                                     statues/nitiballi-statue}
{OVERLAY_RANDOM          *^Zs                                                     statues/dandarah-statue}
{OVERLAY_RANDOM          *^Zhss                                                     statues/dandarah-statue-hierasaret}
{OVERLAY_RANDOM          *^Vs                                                     statues/venera-statue}

{OVERLAY_RANDOM          *^Aqs                                                     statues/aqualtune-statue}
{OVERLAY_RANDOM          *^Ishs                                                     statues/ishtar-statue}
{OVERLAY_RANDOM          *^Vhss                                                     statues/venera-statue-hierasaret}
{OVERLAY_RANDOM          *^Mahs                                                     statues/mahin-statue}
{OVERLAY_RANDOM          *^Zes                                                     statues/zenobia-statue}
{OVERLAY_RANDOM          *^Kas                                                     statues/kandake-statue}
{OVERLAY_RANDOM          *^Dks                                                     statues/statue-dragon}
{OVERLAY_RANDOM          *^Ashs                                                     statues/asherah-statue}
{OVERLAY_RANDOM          *^Skms                                                     statues/sekmet-statue}

{TERRAIN_BASE            Cw,Cwr                                                    castle/windsong-dirt}
{KEEP_BASE               Kw,Kwr                                                    castle/windsong-cobbles}

{NEW:WALL             Cw         (!,C*,K*)                     castle/windsong-castle}
{NEW:WALL2            Kw         !,Ket,!,C*,Ke*   (!,C*,K*)    castle/windsong-keep-castle}
{NEW:WALL             Kw         (!,K*)                        castle/windsong-keep}

{NEW:WALL             Cw*         (!,C*,K*)                    castle/windsong-ruin-castle}
{NEW:WALL2            Kwr         !,Ket,!,C*,Ke*  (!,C*,K*)    castle/windsong-ruin-keep-castle}
{NEW:WALL             Kw*         (Ke,Kea,!,K*)                castle/windsong-ruin-keep}

{OVERLAY_B               *^Xfy                              ANIMATION_08_140 fire/kaliflame-big}
{OVERLAY_B               *^Xfk                              ANIMATION_08_140 fire/kaliflame-big-forest}

{OVERLAY_B               *^Xfw                              ANIMATION_08_140 fire/flame-big}
{OVERLAY_B               *^Xff                              ANIMATION_08_140 fire/fire-big-forest}
{OVERLAY_B               *^Xfv                              ANIMATION_08_140 fire/fire-big-village}

{NEW:OVERLAY             *^Syt                                              forest/sylvan-tree}
{NEW:OVERLAY             *^Eba                                              forest/ebony-baobab}

{ANIMATED_WATER_15       Skl          ()                     150                kaliduniya/soul-river}
{WALL_TRANSITION_LF   Skl              (!,Skl,Hka,Mka,Xv,_off^_usr)                -90  ground  kaliduniya/soul-river-high}
{NEW:BASE                Hka                                                        kaliduniya/regular}
{NEW:TRANSITION            Hka              Skl,Ai,W*,S*            -482        kaliduniya/regular-to-water FLAG=non_submerged}

{OVERLAY_ROTATION_RESTRICTED2_F  Mka        (!,Xv,!,C*,K*,X*,Ql,Qx*)      base2  kaliduniya/desert-castle}
{OVERLAY_ROTATION_RESTRICTED_F   Mka        (!,Xv,!,C*,K*,X*,Ql,Qx*)      base2  kaliduniya/desert-castle@V}
{MOUNTAINS_2x4_NW_SE     Mka                                     18       base,base2  kaliduniya/desert_range3}
{MOUNTAINS_1x3_NW_SE     Mka                                     20       base,base2  kaliduniya/desert_range1}
{MOUNTAINS_1x3_SW_NE     Mka                                     20       base,base2  kaliduniya/desert_range2}
{MOUNTAINS_2x2           Mka                                     40       base,base2  kaliduniya/desert5}
{MOUNTAINS_2x2           Mka                                     30       base,base2  kaliduniya/desert6}
{MOUNTAIN_SINGLE_RANDOM  Mka                                              base,base2  kaliduniya/desert}
#This one is to fill any "gaps" there might be when next to castles or walls
{NEW:BASE                Mka                                                     hills/dry}
{NEW:TRANSITION          (Mka,Mka^Xm)            (!,Md*,Mv,S*,X*)          -166  kaliduniya/desert}

# Special Desert Mountain to Chasm Blend transition - the default mountain-chasm transition is white, looks terrible.
{TRANSITION_COMPLETE_LF  (Qx*,Ql*)                 (Mka,Mka^Xm)  0  transition3  kaliduniya/blend-from-chasm}

{TRANSITION_COMPLETE_LF  (Mka,Mka^Xm)            Ai,W*,S*   -165  non_submerged  kaliduniya/desert-to-water}

# Arajunnan architecture

{KEEP_BASE               Kar                                                        castle/arajunna-keep}
{TERRAIN_BASE            Car                                                       castle/arajunna-keep}
{NEW:WALL             Car             (!,C*,K*)                    castle/arajunna-fort}
{NEW:WALL2            Kar             !,Ket,!,C*,Ke*   (!,C*,K*)   castle/arajunna-keep-fort}
{NEW:WALL             Kar             (!,K*)                       castle/arajunna-keep}

# Red Rock

{OVERLAY_ROTATION_RESTRICTED2_F  Arr        (!,Xv,!,C*,K*,X*,Ql,Qx*)      base2  arajunnan/desert-castle}
{OVERLAY_ROTATION_RESTRICTED_F   Arr        (!,Xv,!,C*,K*,X*,Ql,Qx*)      base2  arajunnan/desert-castle@V}
{MOUNTAINS_2x4_NW_SE     Arr                                     18       base,base2  arajunnan/desert_range3}
{MOUNTAINS_1x3_NW_SE     Arr                                     20       base,base2  arajunnan/desert_range1}
{MOUNTAINS_1x3_SW_NE     Arr                                     20       base,base2  arajunnan/desert_range2}
{MOUNTAINS_2x2           Arr                                     40       base,base2  arajunnan/desert5}
{MOUNTAINS_2x2           Arr                                     30       base,base2  arajunnan/desert6}

{MOUNTAIN_SINGLE_RANDOM  Arr                                              base,base2  arajunnan/desert}
#This one is to fill any "gaps" there might be when next to castles or walls
{NEW:BASE                Arr                                                     hills/dry}
{NEW:TRANSITION          (Arr,Arr^Xm)            (!,Md*,Mv,S*,X*)          -166  arajunnan/desert}

# Special Desert Mountain to Chasm Blend transition - the default mountain-chasm transition is white, looks terrible.
{TRANSITION_COMPLETE_LF  (Qx*,Ql*)                 (Arr,Arr^Xm)  0  transition3  arajunnan/blend-from-chasm}

{TRANSITION_COMPLETE_LF  (Arr,Arr^Xm)            Ai,W*,S*   -165  non_submerged  arajunnan/desert-to-water}

# Arajunnan Villages

{NEW:VILLAGE_A3         *^Var                                          200          villages/arajunna1-A}{VILLAGE_PROBABILITY 20}
{NEW:VILLAGE_A3         *^Var                                          100          villages/arajunna2-A}{VILLAGE_PROBABILITY 25}
{NEW:VILLAGE            *^Var                                                       villages/arajunna3}{VILLAGE_PROBABILITY 33}
{NEW:VILLAGE            *^Var                                                       villages/arajunna4}{VILLAGE_PROBABILITY 50}
{NEW:VILLAGE            *^Var                                                       villages/arajunna5}

{NEW:OVERLAY                *^Gor                                                        arajunnan/gold-ore}
{NEW:OVERLAY                *^Sor                                                        arajunnan/silver-ore}

{NEW:WALL2_CORNER     Hsw      Xu*           (!,Xu*,Xo*)      hierasaret/wall-mine-mixed}
{NEW:WALL2            Hsw      Xu*           (!,Xu*,Xo*)      hierasaret/wall-mine-mixed}
{NEW:WALL_CORNER                 Hsw		   (!,Xo*,Xu*)      hierasaret/wall-stone-white}
{NEW:WALL_CORNER                 Hsw		   (!,Xo*,Xu*)      hierasaret/wall-stone-mine}
{NEW:WALL                        Hsw           (!,Xu*,Xo*)      hierasaret/wall-stone-mine}

{NEW:BASE                Hsf                                                       hierasaret/stone-regular LAYER=-284 FLAG=raised_base}
{NEW:THREE_TERRAIN_TRANSITION Hsf 	Q* 	G*,R*,D*,A*,W*,Uu,Ur,Urc,S* 	-282 	hierasaret/stone-chasm/stone-regular}
{NEW:TRANSITION_CROWDED            Hsf              Q*        -282               hierasaret/stone-chasm/stone-regular}
{NEW:TRANSITION_CROWDED            Hsf              W*,G*,R*,D*,A*,Uu,Ur,Urc,S*        -282               hierasaret/stone-regular}
{NEW:TRANSITION            Hsf              Q*        -282               hierasaret/stone-chasm/stone-regular}
{NEW:TRANSITION            Hsf              !,Irs,Irr,!,I*r,Q*,W*,G*,R*,D*,A*,Uu,Ur,Urc,S*        -282               hierasaret/stone-regular}

{NEW:VILLAGE_A3         *^Vcl                                          100          villages/light-A}
{NEW:VILLAGE_A3         *^Rav                                          100          villages/raw-A}

{NEW:BASE                Qraw                                                      raw/abyss}

{NEW:VILLAGE         *^Vws                                                     villages/windsong}
{NEW:VILLAGE             *^Vwsr                                                     villages/windsong-ruin}

{TERRAIN_BASE_RANDOM     Qxdp                                                      chasm/abyss}

# Soul Flame
{OVERLAY_B               *^Xsf                              ANIMATION_08_140 dead/soul-flame}

{TERRAIN_BASE            Ccry                                                        castle/crystal-ground}
{KEEP_BASE               Kcry                                                        castle/crystal-ground}

{NEW:WALL             Ccry                (!,C*,K*)                    castle/crystal}
{NEW:WALL2            Kcry                !,Ket,!,C*,Ke*   (!,C*,K*)   castle/crystalkeep-crystal}
{NEW:WALL             Kcry                (Ke,Kea,!,K*)                castle/crystalkeep}
