#textdomain wesnoth-A_Song_of_the_Winds
[unit_type]
    id=Glacier Shield
    name= _ "Glacier Shield"
    race=snowelf
    image="units/timestrays/shieldbearer.png"
    hitpoints=62
    movement_type=snowelffoot
    movement=5
    experience=70
    level=2
    alignment=neutral
    advances_to=Eternal Ice
    cost=41
    usage=fighter
    description= _ "."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/timestrays/shieldbearer.png" "units/timestrays/shieldbearer.png" {SOUND_LIST:ELF_HIT}}
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]

    [resistance]
        blade=80
        pierce=80
        impact=80
        fire=80
        cold=40
    [/resistance]

    [attack]
        name=spear
        description=_"ice spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=11
        number=3
    [/attack]
    [attack]
        name=spear
        description=_"ice fang"
        icon=attacks/spear.png
        type=cold
        range=melee
        damage=14
        number=2
    [/attack]
    [attack]
        name=shield
        description=_"shield bash"
        icon=attacks/rectangular-shield.png
        type=impact
        range=melee
        damage=13
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/elves-high/schiltron.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/elves-high/schiltron.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shield
        [/filter_attack]
        [if]
            hits=no
            [frame]
                image="units/timestrays/shieldbearer.png"
                sound={SOUND_LIST:MISS}
                begin=-100
                end=100
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                image="units/timestrays/shieldbearer.png"
                sound=club.ogg
                begin=-100
                end=100
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
