#textdomain wesnoth-A_Song_of_the_Winds
[unit_type]
    id=Abhai_Swordmaster
    name= _ "Swordmaster"
    race=aragwaith
    image="units/heroes/abhai.png"
    hitpoints=71
    movement_type=smallfoot
    movement=6
    experience=80
    level=3
    alignment=neutral
    advances_to=null

    {AMLA_OPTION_WILDHEALING}
    {AMLA_OPTION_WHITE_TIGER}
    {AMLA_OPTION_ACCURACY_ARROW}
    {AMLA_OPTION_ACCURACY_MELEE}
    {AMLA_OPTION_LIFE_INCREASE}
    {AMLA_OPTION_RANGED}
    {AMLA_OPTION_MELEE}

    cost=80
    usage=fighter
    description= _ "."
    die_sound={SOUND_LIST:ELF_HIT}

    [movement_costs]
        shallow_water=2
        swamp_water=2
        sand=2
        forest=1
        hills=2
        mountains=2
    [/movement_costs]
    [resistance]
        arcane=50
        fire=60
        cold=60
    [/resistance]

    [attack]
        name=sword
        description=_"Silver Flash"
        icon=attacks/greatsword-elven.png
        type=blade
        range=melee
        damage=9
        number=5
    [/attack]
    [attack]
        name=sword
        description=_"Serpent's Strike"
        icon=attacks/greatsword-elven.png
        type=pierce
        range=melee
        damage=12
        number=3
    [/attack]
    [attack]
        name=sword
        description=_"Bear's Paw"
        icon=attacks/greatsword-elven.png
        type=impact
        range=melee
        damage=15
        number=2
    [/attack]
    [attack]
        name=bow
        description=_"Falcon's Hunt"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=10
        number=4
    [/attack]

    {DEFENSE_ANIM_RANGE "units/heroes/abhai-defend.png" "units/heroes/abhai.png" {SOUND_LIST:ELF_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/heroes/abhai-defend.png" "units/heroes/abhai.png" {SOUND_LIST:ELF_HIT} ranged}

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/heroes/abhai.png:25"
        [/frame]
        [frame]
            image="units/heroes/abhai-attack-[1~6].png:[50*2,150,50*2,25]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -75}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-445
        [frame]
            image="units/heroes/abhai-bow.png:65"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -380}
        [frame]
            image="units/heroes/abhai-bow-attack[1~4].png:[75*2,100,130]"
        [/frame]
        [frame]
            image="units/heroes/abhai-bow.png:65"
        [/frame]
    [/attack_anim]
[/unit_type]
